.home{
    background-color: color($colors, primary);
    color:color($colors, light);
    margin-top: 40px;
}
.about{
    background-color: color($colors, danger);
    color:color($colors, light);
    margin-top: 40px;
}
